* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prima{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-left: 18%;
}
.bottoni{
padding: 0px;    
}
.tabella{
    width: 65%;
}
.col-w{
    color: white;
}